<!-- accountSummary.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Summary</title>
</head>
<body>
    <h1>Account Summary</h1>
    <p>First Name: <%= user.firstName %></p>
    <p>Last Name: <%= user.lastName %></p>
    <p>Email: <%= user.email %></p>
    <p>Phone: <%= user.phone %></p>
    <p>Age: <%= user.age %></p>
    <p>Address: <%= user.address %></p>
    <p>City: <%= user.city %></p>
    <p>Postal Code: <%= user.postalCode %></p>
</body>
</html>
s